<footer>
  <div class="container">
    <div class="row">
      <div class="links">
        <h5>Links</h5>
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Menu</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
      </div>
      <div class="contact">
        <h5>Our Address</h5>
        <address>
          214, King Street West<br>
          Downtown, Toronto<br>
          ONTARIO<br>
          <span class="glyphicon glyphicon-earphone" aria-hidden="true"></span>: +416 1234 5678<br>
          <span class="glyphicon glyphicon-file" aria-hidden="true"></span>: +416 8765 4321<br>
          <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>: <a href="mailto:ilfornello@food.net">ilfornello@food.net</a>
        </address>
      </div>
      <div class="social">
        <div>
          <a href="http://google.com/+" class="google" title="Google"></a>
          <a href="http://www.facebook.com/profile.php?id=" class="facebook" title="Facebook"></a>
          <a href="http://www.linkedin.com/in/" class="linkedin" title="LinkedIn"></a>
          <a href="http://twitter.com/" class="twitter" title="Twitter"></a>
          <a href="http://youtube.com/" class="youtube" title="Youtube"></a>
          <a href="mailto:" class="email" title="Email"></a>
        </div>
      </div>
      <div class="copyright">
        <p>© Copyright 2015 Ristorante Il Fornello</p>
      </div>
    </div>
  </div>
</footer>
