<div class="nav">
  <div class="container">
    <div class="row">
      <div class="logo">
        <a href="/" title="Logo"><img src="assets/images/logo.png" alt="logo"></a>
      </div>
      <nav>
        <ul class="list-inline">
          <li class="active"><a href="#" title="Home"><span class="glyphicon glyphicon-home icon" aria-hidden="true"></span>Home</a></li>
          <li><a href="#" title="About"><span class="glyphicon glyphicon-info-sign icon" aria-hidden="true"></span>About</a></li>
          <li><a href="#" title="Contact">Menu<span class="caret"></span></a></li>
          <li><a href="#" title="Contact">Contact</a></li>
        </ul>
      </nav>
    </div>
  </div>
</div>
